# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
*.log

# Python cache
__pycache__/
*.pyc